body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    min-height: 10vh;
    font-family: sans-serif;
    background-image: url(../redes.jpg);
}

.contact{
    box-sizing: border-box;
    border: 2px solid #111;
    cursor: pointer;
}

.contact.active{
    width: 800px;
    min-height: 400px;
}

.contact.active:hover{
    background: gray;
    color: #111;
}

.contact:hover{
    background: #000;
    color: #fff;

}
.contact h2{
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.contact  h2 span{
    display: inline-block;
    color: red;
}

.contact.active h2 span{
     transform: rotate(45deg);
     float: right;
}

form{
    padding: 20px;
    box-sizing: border-box;
}


form .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

form .row .col-2{
    width:Calc(50%-10px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

form .row .col-2:nth-child(odd){
    margin-right: 10px;
}
form .row .col-2:nth-child(even){
    margin-left: 10px;
}



form .row .col-1{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;


}
 .contact label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.contact input.text,
.contact textarea
{
    width: 100%;
    border: 2px solid #000;
    padding: 10px;
    outline:none;
    box-sizing: border-box;
    font-weight:bold ;
    font-size: 18px;
    font-family: sans-serif;
    resize: none;
}

.contact textarea{
    width: 700px;
    height: 200px;
}

.contact input[type="submit"]
{
    border: 2px solod #000;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
    background: #000;
    color: #fff;
}

.contact form{
    visibility: hidden;
    display: none;
}

.contact.active form{
    visibility: visible;
    display: block;
}


